/*****BASE STYLES*****/

body {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

#work {
    height: 1650px;

}

#about {
  height: 964px;
}

#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width {
    width: 700px;
    float: left;
}

/**** HEADER *****/


header {
    height: 750px;
    background: url("../img/fix-mtn.png");
    background-size: contain;
    background-color: #ffffff;
  /****  background-repeat: *****/
}


header h1 {
    font-family: 'Rock Salt', 'cursive';
    color: #fda92f;
    font-size: 24px;
    padding-left: 40px;
    border-bottom: 5px double #31424b;
    width: 300px;
  }

nav {
    float: right;
    margin: 0;
    padding-right: 20px;
    padding-top: 20px;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-left: 20px;

}

header h2 {

    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #31424b;
    padding-left: 35px;

}

header h2 span {
    color: #fda92f;
}


/*****WORK*****/


#work  {
    text-align: left;
}


#work .full-width {

}

#work .half-width {
  width: 500px;

}

#work h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    color: #31424b;

}

#work h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

#work h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}


#work p {
    font-size: 16px;
    clear: both;
}

/******WEB Portfolio ******/

#webp {
  padding-top: 75px;

}


#webimg {
  float: left;
  margin: 75px 50px 25px 250px;
  border-bottom: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  padding: 20px 25px;


}



#jaimg {
    float: left;
    margin-left: 250px;
    margin-right: 50px;
    border-bottom: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
    padding: 20px 25px;

}


/*****PHOTOS AND ILLUSTRATIONS ******/

#drawp {
    float: left;
    margin-left: 300px;
    padding-top: 200px;

}

#drawp p {
    width: 300px;
}

#drawp span {
    color: #fda92f;
}

#drawp a {
    text-decoration-color: #fda92f;
    color: inherit;
}

#illustrations {
    float: right;
    padding-top: 115px;
    padding-right: 100px;
}

#illustrations p {
    text-align: right;
    padding-right: 100px;

}



/*****ABOUT ****/

#about {
  background: url("../img/snow-bg.png");
  background-size: cover;
  background-color: #ebebeb;
}

#about .full-width {
    padding: 15px 10px;
    margin: 0 auto;
}

#about h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #31424b;
  text-shadow: 0 1px #31424b;

}
/****
#about img {
    border: 2px solid #fda92f;
    float: left;
    margin-left: 200px;
} ****/

#about p {
    color: #31424b;
    font-size: 18px;
    text-shadow: 0 1px #31424b;
    padding-left: 425px;
    padding-top: 50px;
    width: 500px;

  }

#about ul {
    list-style: circle;
}


/****** CONTACT *****/


#contact .full-width {
    padding: 15px 10px;
    margin: 0 auto;

    height: 400px;
}

#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    color: #31424b;
    text-shadow: 0 1px #fda92f;
}


#contact a {
    text-decoration: none;
    color:  #fda92f;
    font-size: 20px;
}

#contact #email {
  float: left;
  text-align: center;
  padding-left: 355px;
  padding-top: 25px;

}


#contact #social {
    width: 700px;
    padding-top: 50px;
    padding-left: 432px;

}


#contact #social h4, #contact #email h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #31424b;

}
#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;

}

#contact img {
    width: 25%;
}

#contact #cat {
    float: right;
    padding-left: 100px;

}
