/*****BASE STYLES*****/

body {
    font-family: 'Noto Sans', sans-serif;
    color: #31424b;
}


#work {
    height: 1650px;
}


#about {
  height: 964px;
}


#contact {
    height: 400px;
}


/**** layout ****/

.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width {
    width: 700px;
    float: left;
}

/**** HEADER *****/


header {
    height: 750px;
    background: url("../img/fix-mtn.png");
    background-size: contain;
    background-color: #ffffff;
  /****  background-repeat: *****/
}


header h1 {
    font-family: 'Rock Salt', 'cursive';
    color: #fda92f;
    text-shadow: 0 3px #ebebeb;
    font-size: 24px;
    padding: 15px 0 0 40px;
  }

header h2 {
    clear: both;
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
    color: #31424b;
    text-shadow: 3px 3px #ebebeb;
    padding-left: 45px
  }

  header h2 span {
      color: #fda92f;
  }


nav {
    float: right;
    margin: 0;
    padding: 20px 20px 0 0;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #31424b;
    text-shadow: 2px 2px #ebebeb;
    padding-left: 20px;

}


/*****PORTFOLIO*****/


#work  {
    text-align: left;
}


#work .full-width {
      padding: 15px 10px;
      margin: 0 auto;
}

#work .half-width {
  width: 500px;

}

#work h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    text-align: center;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;

}

#work h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;

}

#work h5 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}


#work p {
    font-size: 16px;
    clear: both;
    width: 350px;
}

/******WEB Portfolio ******/

#webp {
  padding-top: 75px;

}


#webimg {
  float: left;
  margin: 75px 50px 25px 250px;
  border-bottom: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  padding: 20px 25px;


}



#jaimg {
    float: left;
    margin-left: 250px;
    margin-right: 50px;
    border-bottom: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
    padding: 20px 25px;

}


/*****PHOTOS AND ILLUSTRATIONS ******/

#drawp {
    float: left;
    margin-left: 251px;
    margin-top: 200px;
    padding-left: 45px;
    border-left: 2px solid #ebebeb;
}

#drawp p {
    width: 400px;
}

#drawp span {
    color: #fda92f;
}

#drawp a {
    text-decoration-color: #fda92f;
    color: inherit;
    text-decoration-style: wavy;
}

#drawp span a {
    text-decoration: none;
    color: #31424b;
}

#illustrations {
    float: right;
    padding-top: 115px;
    margin-right: 98px;
}

#illustrations p {
    text-align: right;
    margin-right: 100px;

}



/*****ABOUT ****/

#about {
  background: url("../img/snow-bg.png");
  background-size: cover;
  background-color: #ebebeb;
}

#about .full-width {
    padding: 15px 10px;
    margin: 0 auto;
}

#about h2 {
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  text-align: center;
  color: #31424b;
  text-shadow: 0 3px #ebebeb;

}

#about img {
    border: 10px solid rgba(235, 235, 235, 0.5);
    float: right;
    border-radius: 50%;
    margin-right: 585px;
    margin-top: 10px;



}

#about p {
    clear: both;
    color: #31424b;
    font-size: 16px;
    line-height: 28px;
    margin: 40px 0 0 480px;
    padding: 20px 15px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 8px solid rgba(235, 235, 235, 0.5);
    border-radius: 15px;

  }

#about ul {
    list-style: circle;
}


/****** CONTACT *****/


#contact .full-width {
    padding: 15px 10px;
    margin: 0 auto;
    height: 400px;
}

#contact h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    text-align: center;
    color: #31424b;
    text-shadow: 0 3px #ebebeb;
}


#contact a {
    text-decoration: none;
    color:  #fda92f;
    font-size: 20px;
}

#contact #email {
  float: left;
  text-align: center;
  padding: 25px 0 0 355px;

}


#contact #social {
    width: 700px;
    padding: 50px 0 0 432px;

}


#contact #social h4, #contact #email h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #31424b;

}
#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;

}

#contact img {
    width: 25%;
    padding-left: 2px;
}

#contact #cat {
    float: right;
    padding-left: 100px;
    margin: 0 auto;

}
